* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  padding: 0;
  margin: 0;
  background: url(../images/default-background.jpg) no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  flex: 1;
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* background-color: #efeee8; */
  height: 85%;
}

main div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main div .search_form {
  display: flex;
  flex-direction: row;
}

footer {
  width: 100%;
  height: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* footer p {
  background-color: rgba(32, 32, 32, 0.5);
  border-radius: 50%;
  padding: 10px 70px;
} */
